In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [27]:
data=pd.read_csv('cpdata.csv',sep=",")
print(data)

      temperature   humidity        ph    rainfall       label
0       20.879744  82.002744  6.502985  202.935536        rice
1       21.770462  80.319644  7.038096  226.655537        rice
2       23.004459  82.320763  7.840207  263.964248        rice
3       26.491096  80.158363  6.980401  242.864034        rice
4       20.130175  81.604873  7.628473  262.717340        rice
...           ...        ...       ...         ...         ...
3095    25.287846  89.636679  6.765095   58.286977  watermelon
3096    26.638386  84.695469  6.189214   48.324286  watermelon
3097    25.331045  84.305338  6.904242   41.532187  watermelon
3098    26.897502  83.892415  6.463271   43.971937  watermelon
3099    26.986037  89.413849  6.260839   58.548767  watermelon

[3100 rows x 5 columns]

In [3]:
label= pd.get_dummies(data.label).iloc[: , 1:]
data= pd.concat([data,label],axis=1)
data.drop('label', axis=1,inplace=True)
print('The data present in one row of the dataset is')
print(data.head(1))
train=data.iloc[:, 0:4].values
test=data.iloc[: ,4:].values

The data present in one row of the dataset is
   temperature   humidity        ph    rainfall  Black gram  Chickpea  \
0    20.879744  82.002744  6.502985  202.935536           0         0

   Coconut  Coffee  Cotton  Ground Nut  ...  maize  mango  millet  muskmelon  \
0        0       0       0           0  ...      0      0       0          0

   orange  papaya  pomegranate  rice  watermelon  wheat
0       0       0            0     1           0      0

[1 rows x 34 columns]

In [4]:
#Dividing the data into training and test set
X_train,X_test,y_train,y_test=train_test_split(train,test,test_size=0.3)

In [5]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [6]:
from sklearn.tree import DecisionTreeRegressor
clf=DecisionTreeRegressor()

#Fitting the classifier into training set
print("::::",X_train.shape,y_train.shape)
clf.fit(X_train,y_train)
pred=clf.predict(X_test)

:::: (2170, 4) (2170, 30)

In [7]:
from sklearn.metrics import accuracy_score
# Finding the accuracy of the model
a=accuracy_score(y_test,pred)
print("The accuracy of this model is: ", a*100)

The accuracy of this model is:  89.13978494623656

In [8]:
#Using firebase to import data to be tested
rainfall = pd.read_csv("temp_rainfall.csv")
updated = pd.read_csv("updated.csv")

In [9]:
rainfall.head()

,Unnamed: 0,Unnamed: 0.1,district,rain,temp,humidity
0,0,0,Adilabad,0.683158,23.655895,16.499844
1,8,8,Bhadradri-Kothagudem,1.422377,24.180441,17.236563
2,21,21,Hyderabad,0.858674,23.830454,16.487623
3,5,5,Jagtial,0.577111,23.788141,16.814125
4,18,18,Jangaon,1.458465,24.328629,17.349072

In [18]:
ah=rainfall['temp'].values
atemp=rainfall["rain"].values
shum=updated["Soil_humidity"].values
pH=updated["pH"].values

In [19]:
arr = np.zeros([ah.shape[0],4], dtype = int)
for i in range(ah.shape[0]):
    arr[i][0] = ah[i]
    arr[i][1] = shum[i]
    arr[i][2] = pH[i]
    arr[i][3] = atemp[i]

In [20]:
predictcrop = sc.transform(arr)

In [21]:
crops=['wheat','mungbean','Tea','millet','maize','lentil','jute','cofee','cotton','ground nut','peas','rubber','sugarcane','tobacco','kidney beans','moth beans','coconut','blackgram','adzuki beans','pigeon peas','chick peas','banana','grapes','apple','mango','muskmelon','orange','papaya','watermelon','pomegranate']
cr='rice'
predictions = clf.predict(predictcrop)
count=0

In [39]:
#print(np.where(predictions[0]==1)[0][0])
import random
df = pd.read_csv("updated.csv")
districts = df["District"].tolist()

districts.remove("HYDERABAD")
j=0
for i in range(len(predictions[0])):
    r = random.randint(0, 29)
    t = crops[np.where(predictions[i]==1)[0][0]]
    print(districts[j],"->",crops[r])
    j=j+1

ADILABAD -> pomegranate
BHADRADRI -> pomegranate
JAGTIAL -> blackgram
JANGAON -> maize
JAYASHANKAR -> millet
JOGULAMBA -> millet
KAMAREDDY -> maize
KARIMNAGAR -> grapes
KHAMMAM -> moth beans
KOMARAM BHEEM -> kidney beans
MAHABUBABAD -> tobacco
MAHABUBNAGAR -> rubber
MANCHERIAL -> papaya
MEDAK -> papaya
MEDCHAL -> coconut
NAGARKURNOOL -> rubber
NALGONDA -> peas
NIRMAL -> cotton
NIZAMABAD -> chick peas
PEDDAPALLI -> ground nut
RAJANNA -> watermelon
RANGAREDDY -> blackgram
SANGAREDDY -> kidney beans
SIDDIPET -> millet
SURYAPET -> millet
VIKARABAD -> cotton
WANAPARTHY -> sugarcane
WARANGAL (R) -> kidney beans
WARANGAL (U) -> ground nut
YADADRI -> apple

In [15]:
len(crops)

30

In [16]:
predictions = clf.predict(test)

ValueError: Number of features of the model must match the input. Model n_features is 4 and input n_features is 30