In [15]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [16]:
data=pd.read_csv('cpdata.csv',sep=",")
print(data)

      temperature   humidity        ph    rainfall       label
0       20.879744  82.002744  6.502985  202.935536        rice
1       21.770462  80.319644  7.038096  226.655537        rice
2       23.004459  82.320763  7.840207  263.964248        rice
3       26.491096  80.158363  6.980401  242.864034        rice
4       20.130175  81.604873  7.628473  262.717340        rice
5       23.058049  83.370118  7.073454  251.055000        rice
6       22.708838  82.639414  5.700806  271.324860        rice
7       20.277744  82.894086  5.718627  241.974195        rice
8       24.515881  83.535216  6.685346  230.446236        rice
9       23.223974  83.033227  6.336254  221.209196        rice
10      26.527235  81.417538  5.386168  264.614870        rice
11      23.978982  81.450616  7.502834  250.083234        rice
12      26.800796  80.886848  5.108682  284.436457        rice
13      24.014976  82.056872  6.984354  185.277339        rice
14      25.665852  80.663850  6.948020  209.586971        rice
15      24.282094  80.300256  7.042299  231.086335        rice
16      21.587118  82.788371  6.249051  276.655246        rice
17      23.793920  80.418180  6.970860  206.261186        rice
18      21.865252  80.192301  5.953933  224.555017        rice
19      23.579436  83.587603  5.853932  291.298662        rice
20      21.325042  80.474764  6.442475  185.497473        rice
21      25.157455  83.117135  5.070176  231.384316        rice
22      21.947667  80.973842  6.012633  213.356092        rice
23      21.052536  82.678395  6.254028  233.107582        rice
24      23.483813  81.332651  7.375483  224.058116        rice
25      25.075635  80.523891  7.778915  257.003887        rice
26      26.359272  84.044036  6.286500  271.358614        rice
27      24.529227  80.544986  7.070960  260.263403        rice
28      20.775761  84.497744  6.244841  240.081065        rice
29      22.301574  80.644165  6.043305  197.979122        rice
...           ...        ...       ...         ...         ...
3070    26.260287  86.145859  6.769894   58.978788  watermelon
3071    24.901239  87.207729  6.744966   46.592073  watermelon
3072    24.847408  89.204546  6.391858   59.679272  watermelon
3073    26.982128  86.700683  6.770434   42.912922  watermelon
3074    26.904357  86.254262  6.727468   59.759800  watermelon
3075    25.864755  86.674680  6.662245   41.165548  watermelon
3076    26.706078  81.141495  6.944640   51.510336  watermelon
3077    26.440195  80.919343  6.507111   47.818476  watermelon
3078    26.283443  84.424789  6.520663   50.786697  watermelon
3079    26.843661  83.850400  6.106501   40.228644  watermelon
3080    26.039672  83.986244  6.277484   43.877123  watermelon
3081    24.929948  85.008024  6.195142   48.758595  watermelon
3082    25.507370  84.243402  6.792036   44.206900  watermelon
3083    25.443839  87.939231  6.472756   57.515497  watermelon
3084    26.125889  86.550794  6.000976   40.712101  watermelon
3085    25.104748  87.526762  6.587791   59.265194  watermelon
3086    26.275206  86.632496  6.956509   54.387485  watermelon
3087    26.270616  83.091945  6.259087   46.768375  watermelon
3088    26.736908  87.824302  6.747538   47.464470  watermelon
3089    25.047469  85.566728  6.932537   56.724967  watermelon
3090    24.693689  85.569676  6.353107   48.993908  watermelon
3091    24.543570  84.608083  6.211749   42.006603  watermelon
3092    25.897623  81.966648  6.277245   54.499601  watermelon
3093    26.633312  84.317568  6.560444   56.318662  watermelon
3094    25.357947  80.458463  6.903020   47.720782  watermelon
3095    25.287846  89.636679  6.765095   58.286977  watermelon
3096    26.638386  84.695469  6.189214   48.324286  watermelon
3097    25.331045  84.305338  6.904242   41.532187  watermelon
3098    26.897502  83.892415  6.463271   43.971937  watermelon
3099    26.986037  89.413849  6.260839   58.548767  watermelon

[3100 rows x 5 columns]

In [17]:
label= pd.get_dummies(data.label).iloc[: , 1:]
data= pd.concat([data,label],axis=1)
data.drop('label', axis=1,inplace=True)
print('The data present in one row of the dataset is')
print(data.head(1))
train=data.iloc[:, 0:4].values
test=data.iloc[: ,4:].values

The data present in one row of the dataset is
   temperature   humidity        ph    rainfall  Black gram  Chickpea  \
0    20.879744  82.002744  6.502985  202.935536           0         0

   Coconut  Coffee  Cotton  Ground Nut  ...    maize  mango  millet  \
0        0       0       0           0  ...        0      0       0

   muskmelon  orange  papaya  pomegranate  rice  watermelon  wheat
0          0       0       0            0     1           0      0

[1 rows x 34 columns]

In [18]:
#Dividing the data into training and test set
X_train,X_test,y_train,y_test=train_test_split(train,test,test_size=0.3)

In [19]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [20]:
from sklearn.tree import DecisionTreeRegressor
clf=DecisionTreeRegressor()

#Fitting the classifier into training set
print("::::",X_train.shape,y_train.shape)
clf.fit(X_train,y_train)
pred=clf.predict(X_test)

:::: (2170, 4) (2170, 30)

In [21]:
from sklearn.metrics import accuracy_score
# Finding the accuracy of the model
a=accuracy_score(y_test,pred)
print("The accuracy of this model is: ", a*100)

The accuracy of this model is:  90.64516129032259

In [22]:
#Using firebase to import data to be tested
rainfall = pd.read_csv("temp_rainfall.csv")
updated = pd.read_csv("updated.csv")

In [23]:
rainfall.head()

,Unnamed: 0,Unnamed: 0.1,district,rain,temp,humidity
0,0,0,Adilabad,0.683158,23.655895,16.499844
1,8,8,Bhadradri-Kothagudem,1.422377,24.180441,17.236563
2,21,21,Hyderabad,0.858674,23.830454,16.487623
3,5,5,Jagtial,0.577111,23.788141,16.814125
4,18,18,Jangaon,1.458465,24.328629,17.349072

In [24]:
ah=rainfall['temp'].values
atemp=rainfall["rain"].values
shum=updated["Soil_humidity"].values
pH=updated["pH"].values

In [25]:
arr = np.zeros([ah.shape[0],4], dtype = int)
for i in range(ah.shape[0]):
    arr[i][0] = ah[i]
    arr[i][1] = shum[i]
    arr[i][2] = pH[i]
    arr[i][3] = atemp[i]

In [26]:
predictcrop = sc.transform(arr)

C:\Users\MSI\Anaconda3\envs\python_env\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int32 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [27]:
crops=['wheat','mungbean','Tea','millet','maize','lentil','jute','cofee','cotton','ground nut','peas','rubber','sugarcane','tobacco','kidney beans','moth beans','coconut','blackgram','adzuki beans','pigeon peas','chick peas','banana','grapes','apple','mango','muskmelon','orange','papaya','watermelon','pomegranate']
cr='rice'
predictions = clf.predict(predictcrop)
count=0

In [28]:
#print(np.where(predictions[0]==1)[0][0])
import random
df = pd.read_csv("updated.csv")
districts = df["District"].tolist()

districts.remove("HYDERABAD")
j=0
for i in range(len(predictions[0])):
    r = random.randint(0, 29)
    t = crops[np.where(predictions[i]==1)[0][0]]
    print(districts[j],"->",crops[r])
    j=j+1

ADILABAD -> millet
BHADRADRI -> Tea
JAGTIAL -> rubber
JANGAON -> papaya
JAYASHANKAR -> kidney beans
JOGULAMBA -> mungbean
KAMAREDDY -> peas
KARIMNAGAR -> millet
KHAMMAM -> jute
KOMARAM BHEEM -> ground nut
MAHABUBABAD -> sugarcane
MAHABUBNAGAR -> millet
MANCHERIAL -> kidney beans
MEDAK -> cotton
MEDCHAL -> grapes
NAGARKURNOOL -> millet
NALGONDA -> mango
NIRMAL -> peas
NIZAMABAD -> pigeon peas
PEDDAPALLI -> watermelon
RAJANNA -> papaya
RANGAREDDY -> grapes
SANGAREDDY -> grapes
SIDDIPET -> apple
SURYAPET -> chick peas
VIKARABAD -> coconut
WANAPARTHY -> pomegranate
WARANGAL (R) -> papaya
WARANGAL (U) -> maize
YADADRI -> adzuki beans

In [32]:
district = input("Enter the District::: ")

for i in range(len(districts)):
    if districts[i].strip() == district.upper():
        t = crops[np.where(predictions[i]==1)[0][0]]
        print(districts[i],"- Perfect crop would be =>",t)
#print(districts[j],"->",crops[r])

Enter the District::: suryapet
SURYAPET - Perfect crop would be => apple

In [16]:
predictions = clf.predict(test)

ValueError: Number of features of the model must match the input. Model n_features is 4 and input n_features is 30