In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [130]:
data=pd.read_csv('cpdata.csv',sep=",")
print(data.head(1))

   temperature   humidity        ph    rainfall label
0    20.879744  82.002744  6.502985  202.935536  rice

In [131]:
label= pd.get_dummies(data.label).iloc[: , 1:]
data= pd.concat([data,label],axis=1)
data.drop('label', axis=1,inplace=True)
print('The data present in one row of the dataset is')
print(data.head(1))
train=data.iloc[:, 0:4].values
test=data.iloc[: ,4:].values

The data present in one row of the dataset is
   temperature   humidity        ph    rainfall  Black gram  Chickpea  \
0    20.879744  82.002744  6.502985  202.935536           0         0

   Coconut  Coffee  Cotton  Ground Nut  ...    maize  mango  millet  \
0        0       0       0           0  ...        0      0       0

   muskmelon  orange  papaya  pomegranate  rice  watermelon  wheat
0          0       0       0            0     1           0      0

[1 rows x 34 columns]

In [133]:
#Dividing the data into training and test set
X_train,X_test,y_train,y_test=train_test_split(train,test,test_size=0.3)

In [135]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [137]:
from sklearn.tree import DecisionTreeRegressor
clf=DecisionTreeRegressor()

#Fitting the classifier into training set
print("::::",X_train.shape,y_train.shape)
clf.fit(X_train,y_train)
pred=clf.predict(X_test)

:::: (2170, 4) (2170, 30)

In [138]:
from sklearn.metrics import accuracy_score
# Finding the accuracy of the model
a=accuracy_score(y_test,pred)
print("The accuracy of this model is: ", a*100)

The accuracy of this model is:  89.56989247311829

In [2]:
#Using firebase to import data to be tested
rainfall = pd.read_csv("temp_rainfall.csv")
updated = pd.read_csv("updated.csv")

In [3]:
rainfall.head()

,Unnamed: 0,Unnamed: 0.1,district,rain,temp,humidity
0,0,0,Adilabad,0.683158,23.655895,16.499844
1,8,8,Bhadradri-Kothagudem,1.422377,24.180441,17.236563
2,21,21,Hyderabad,0.858674,23.830454,16.487623
3,5,5,Jagtial,0.577111,23.788141,16.814125
4,18,18,Jangaon,1.458465,24.328629,17.349072

In [140]:
ah=rainfall['temp'].values
atemp=rainfall["rain"].values
shum=updated["Soil_humidity"].values
pH=updated["pH"].values

In [141]:
arr = np.zeros([ah.shape[0],4], dtype = int)
for i in range(ah.shape[0]):
    arr[i][0] = ah[i]
    arr[i][1] = shum[i]
    arr[i][2] = pH[i]
    arr[i][3] = atemp[i]

In [142]:
predictcrop = sc.transform(arr)

C:\Users\MSI\Anaconda3\envs\python_env\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int32 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [143]:
crops=['wheat','mungbean','Tea','millet','maize','lentil','jute','cofee','cotton','ground nut','peas','rubber','sugarcane','tobacco','kidney beans','moth beans','coconut','blackgram','adzuki beans','pigeon peas','chick peas','banana','grapes','apple','mango','muskmelon','orange','papaya','watermelon','pomegranate']
cr='rice'
predictions = clf.predict(predictcrop)
count=0

In [160]:
print(np.where(predictions[0]==1)[0][0])
import random
for i in range(len(predictions[0])):
    r = random.randint(0, 29)
    t = crops[np.where(predictions[i]==1)[0][0]]
    print(crops[r])

23
Tea
blackgram
orange
moth beans
rubber
ground nut
ground nut
papaya
cofee
papaya
pigeon peas
maize
cotton
pigeon peas
peas
cofee
wheat
pigeon peas
banana
pomegranate
cofee
ground nut
banana
banana
coconut
cofee
pomegranate
orange
papaya
adzuki beans

In [157]:
len(crops)

30

In [126]:
predictions = clf.predict(test)